.blue{
    align-content: center;
    justify-items: center;
    background-color: blue;
    color: black;
    width: 1705px;
    height: 805px;
}
.red{
    align-content: center;
    justify-items: center;
    justify-items: center;
    align-items: center;
    background-color: red;
    color: black;
    width: 1705px;
    height: 805px;
}
.division{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-items: center;
    align-items: center;
    width: 400px;
    height: 200px;
}